.list {
  margin: 10px;
  width: 20%;
  border-radius: 10px;
  background-color: #e1e1e1;
  height: 765px;
}

.user {
  cursor: pointer;
  background-color: #e1e1e1;
  padding: 3px;
  border-bottom: 2px solid rgb(154, 152, 152);
  padding-left: 10px;
  font-size: 12pt;
}

.userSelected {
  background-color: rgb(85, 170, 255);
  padding: 3px;
  padding-left: 10px;
  font-size: 12pt;
  border-bottom: 2px solid rgb(154, 152, 152);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.username {
  font-size: 1rem;
}

.kontak {
  text-align: center;
  font-size: 20pt;
  font-weight: bolder;
  padding: 25px;
  color: #545353;
}

.hr {
  border-width: 2px;
  border-color: rgba(54, 54, 54, 0.5);
}